*{margin: 0;
padding: 0;
font-size: 16px;
font-weight: normal;}


.container {
    max-width: 1070px;
    margin: auto;
}

.header, .footer {
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 0 48px;
}
.header_flex, .footer_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_li{
    display: inline;

}
.nav_li:not(:first-of-type) {
    margin-left: 49px;
}
.nav_link{
font-weight: bold;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.468947px;
color: #696871;
text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}
.button{
Width: 212.39px;
Height: 60px;

font-weight: 700;
font-size: 17px;
line-height: 22px;
text-align: center;
letter-spacing: -0.531474px;
color: #FFFFFF;
border: none;
border-radius: 10px;
cursor: pointer;
}
.button_orange {
    background-color: #FF7143;
}
.button_orange:hover{
    background: #f05c2a;
    transition: 500ms;
}

.about_title{
font-weight: 700;
font-size: 80px;
line-height: 77px;
/* or 96% */
letter-spacing: -2.50105px;
color: #19191B;
max-width: 467px;
margin-bottom: 30px;
}
.about_text{
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */
letter-spacing: -0.625263px;
color: #696871;
max-width: 464px;
margin-bottom: 50px;
}
.button_violet{
    background-color:#5454D4;
}
.button_transparent{
    background-color: #FFFFFF;
    color:#5454D4;
    border:  1px solid #5454D4;
    border-radius: 10px;
    margin-left: 35px;
}
.footer{
    padding: 53px 0;
}

